/* Stitch Design */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1280px;
height: 800px;

background: #FFFFFF;


/* Depth 0, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1280px;
height: 800px;
min-height: 800px;

background: #121712;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 1, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1280px;
height: 800px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 2, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 20px 24px;
gap: 4px;

width: 1280px;
height: 800px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Depth 3, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 320px;
height: 760px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 16px;

width: 320px;
height: 760px;
min-height: 700px;

background: #121712;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Depth 5, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 288px;
height: 272px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 288px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* SahaniShare */

width: 288px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 288px;
height: 232px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Depth 7, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 12px;

width: 288px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 9, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 19px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 8, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 72px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Dashboard */

width: 72px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 7, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 12px;

width: 288px;
height: 40px;

background: #2E3829;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 9, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20px;
height: 21px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 8, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 68px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Donations */

width: 68px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 7, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 12px;

width: 288px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 9, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 24px;
height: 15px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 8, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 71px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Recipients */

width: 71px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 7, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 12px;

width: 288px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 9, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20px;
height: 20px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 8, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 53px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Reports */

width: 53px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 7, Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 12px;

width: 288px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 9, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20px;
height: 20px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 8, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 56px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Settings */

width: 56px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 5, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 288px;
min-width: 84px;
max-width: 480px;
height: 40px;

background: #54D12B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 95px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Add Donation */

width: 95px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
text-align: center;

color: #121712;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 3, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 908px;
max-width: 960px;
height: 760px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
padding: 16px;
gap: 12px;

width: 908px;
height: 105px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 5, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 649px;
min-width: 288px;
height: 73px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 649px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Donations */

width: 649px;
height: 40px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 649px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* View your donation history, add new donations, see pending approvals, and check recipient feedback. */

width: 649px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 4, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 12px;

width: 908px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Depth 5, Frame 0 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 16px;
gap: 32px;

width: 908px;
height: 54px;

border-bottom: 1px solid #42523D;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 0 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 0px 13px;

width: 18px;
height: 53px;

border-bottom: 3px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 7, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* All */

width: 18px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 1 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 0px 13px;

width: 122px;
height: 53px;

border-bottom: 3px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Depth 7, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 122px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Pending Approval */

width: 122px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 2 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 0px 13px;

width: 67px;
height: 53px;

border-bottom: 3px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Depth 7, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 67px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Approved */

width: 67px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 3 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 0px 13px;

width: 63px;
height: 53px;

border-bottom: 3px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Depth 7, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 63px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rejected */

width: 63px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 4, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 908px;
height: 432px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Depth 5, Frame 0 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 876px;
height: 408px;

background: #121712;
border: 1px solid #42523D;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 406px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Depth 7, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 46px;

background: #1F261C;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Depth 9, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 118px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Donation ID */

width: 86px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 98px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Date */

width: 66px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 183px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Status */

width: 151px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 131px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Recipient */

width: 99px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 133px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Items */

width: 101px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 115px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Quantity */

width: 83px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 6 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 96px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Actions */

width: 64px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 7, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 360px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 0 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 72px;

border-top: 1px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 118px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* #12345 */

width: 86px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 98px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2024-07-26 */

width: 66px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 183px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 151px;
min-width: 84px;
max-width: 480px;
height: 32px;

background: #2E3829;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 11, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 63px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Approved */

width: 63px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 131px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Community Kitchen */

width: 99px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 133px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Bread, Milk, Eggs */

width: 101px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 115px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* 100 */

width: 83px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 6 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 96px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* View */

width: 64px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 1 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 72px;

border-top: 1px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 118px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* #12346 */

width: 86px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 98px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2024-07-25 */

width: 66px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 183px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 151px;
min-width: 84px;
max-width: 480px;
height: 32px;

background: #2E3829;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 11, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 115px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Pending Approval */

width: 115px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 131px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Local Shelter */

width: 99px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 133px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Canned Goods, Rice */

width: 101px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 115px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* 50 */

width: 83px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 6 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 96px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* View */

width: 64px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 2 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 72px;

border-top: 1px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 118px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* #12347 */

width: 86px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 98px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2024-07-24 */

width: 66px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 183px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 151px;
min-width: 84px;
max-width: 480px;
height: 32px;

background: #2E3829;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 11, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 63px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Approved */

width: 63px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 131px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Soup Kitchen */

width: 99px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 133px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Vegetables, Fruits */

width: 101px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 115px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* 75 */

width: 83px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 6 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 96px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* View */

width: 64px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 3 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 72px;

border-top: 1px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 118px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* #12348 */

width: 86px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 98px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2024-07-23 */

width: 66px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 183px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 151px;
min-width: 84px;
max-width: 480px;
height: 32px;

background: #2E3829;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 11, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 60px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rejected */

width: 60px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 131px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Food Bank */

width: 99px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 133px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Meat, Poultry */

width: 101px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 115px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* 200 */

width: 83px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 6 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 96px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* View */

width: 64px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 8, Frame 4 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 874px;
height: 72px;

border-top: 1px solid #E6E8EB;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 118px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* #12349 */

width: 86px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 98px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2024-07-22 */

width: 66px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 183px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Depth 10, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 151px;
min-width: 84px;
max-width: 480px;
height: 32px;

background: #2E3829;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 11, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 63px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Approved */

width: 63px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 131px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Community Center */

width: 99px;
height: 42px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 133px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Pasta, Sauce */

width: 101px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 115px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* 120 */

width: 83px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 9, Frame 6 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 96px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* View */

width: 64px;
height: 21px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #A6B5A1;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;